@model Kostagram_1._1.Models.Slika

@{
    ViewBag.Title = "Naslovna";
}

<div class="jumbotron">
    <h1>Kostagram</h1>
    <h2>Dobro došli!</h2>
</div>

<div class="row">
    
    
    <div class=" col-md-offset-3 col-md-4 ">
        <h3>Slika dana:</h3>
        <a href="@Url.Action("Details", "Slike", new { id = Model.SlikaId})">
            <img src="@Url.Action("CitajSliku", "Slike", new { id = Model.SlikaId})" />
        </a>

    </div>
    <div class="col-md-4">
        <div style="float:right; border:1px solid; background-color:lightgray; border-radius:5px; padding:10px" title="Popularni Tagovi:">
            <p>Popularni tagovi</p>
            @foreach (var tag in ViewBag.tagovi)
            {
                <a href="/Tagovi/PretragaTagova?rec=@tag"><p>@tag</p></a>
            }
        </div>
    </div>
</div>

<script>
</script>
